
@font-face {
    font-family: "IBM Plex Mono";
    src: url("./misc/IBMPlexMono-Regular.ttf");
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./misc/IBMPlexMono-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "方正刘炳森隶书";
    src: url("./misc/方正刘炳森隶书.ttf");
    font-display: swap;
}
@font-face {
    font-family: "方正FW筑紫明朝R改";
    src: url("./misc/方正FW筑紫明朝R改.woff2");
    font-display: swap;
}
@font-face {
    font-family: "一點明體";
    src: url("./misc/一點明體.woff2");
    font-display: swap;
}
@font-face {
    font-family: "方正聚珍新仿";
    src: url("./misc/方正聚珍新仿.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Boritina";
    src: url("./misc/aav_BoritinaVF.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Boritina";
    src: url("./misc/martina-plantijn-italic.woff2");
    font-style: italic;
}
